@charset 'utf-8';
@import 'mixin';

.m{
    &l{
        &-auto{
            margin-left:auto;
        }
        &-4{
            margin-left:.4rem;
        }
    }
    &r{
        &-auto{
            margin-right:auto;
        }
    }
}