@charset 'utf-8';
@import 'mixin';
@import 'svg';

.login{
    &-form{
        &__label{
            display:block;
            width:100%;
            &.login-id{
                margin-bottom:1.6rem;
            }
        }
        &__input{
            width:100%;
            height:5rem;
            padding-left:3.5rem;
            font-size:1.4rem;
            font-weight:500;
            color:#000;
            text-indent:0;
            border:none;
            border-bottom:1px solid #0F2065;
            &::placeholder{
                font-size:1.4rem;
                color:#ccc;
            }
        }
    }
}

.sch{
    &-form{
        margin-top:-.4rem;
        &-block{
            display:flex;
            align-items:center;
            margin-top:.4rem;
        }
        &__label{
            display:block;
            width:11.5rem;
            font-size:1.4rem;
            font-weight:500;
        }
        .ui{
            &-input{
                position:relative;
                width:calc(100% - 11.5rem);
                input{
                    width:100%;
                }
                &::before{
                    @include pos(absolute, $t:50%, $r:1rem);
                    display:block;
                    width:1.4rem;
                    height:1.2rem;
                    @extend .icon, .icon-datepicker;
                    transform:translateY(-50%);
                    content:""
                }
            }
        }
        &__input{
            width:calc(100% - 11.5rem);
            height:4rem;
            border-radius:.5rem;
            border:1px solid #ddd;
            font-size:1.4rem;
            font-weight:600;
            color:#000;
            outline:none;
            &:focus{
                border:1px solid #5A9DFF;
                box-shadow:1px 4px 7px 0px rgb(0 0 0 / 10%);
            }
            &:disabled{
                background-color:#ddd;
            }
        }
        &__select{
            width:calc(100% - 11.5rem);
            height:4rem;
            border-radius:.5rem;
            border:1px solid #ddd;
            background-color:#fff;
            font-size:1.2rem;
            font-weight:500;
            color:#747478;
            outline:none;
            line-height:4rem;
            @extend .icon, .icon-dropdown;
        }
    }
}

.form{
    &-block{
        input{
            &[type="checkbox"]{
                width:1.2rem;
                height:1.2rem;
                border:1px solid #ddd;
                border-radius:.3rem;
                appearance: initial;
                &:checked{
                    border:1px solid #0F2065;
                    background-color:#0F2065;
                    @extend .icon, .icon-check;
                }
            }
        }
        &__select{
            width:100%;
            height:4rem;
            border-radius:.5rem;
            border:1px solid #ddd;
            background-color:#fff;
            font-size:1.2rem;
            font-weight:500;
            color:#747478;
            outline:none;
            line-height:4rem;
            @extend .icon, .icon-dropdown;
        }
        &__textarea{
            width:100%;
            min-height:10rem;
            resize:none;
            border:1px solid #ddd;
            border-radius:.5rem;
        }
    }
}